.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.table {
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 50px;
}

.line {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: grid;
    width: 550px;
    grid-template-columns: 200px repeat(7, 50px);
}

.line.row>div:nth-child(n+2) {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.line.row>div:nth-child(n+2) span {
    padding: 2px;
    font-size: 12px;
}

.line>div {
    border-right: 1px solid black;
    padding-top: 14px;
    height: 50px;
    box-sizing: border-box;;
}

.table div.line:first-of-type {
    border-top: 1px solid black;
}
